#site-title a {
	opacity: 1;
}

div#site-description {
	opacity: 1;
}

#sociallinks ol {
	opacity: 1;
	margin: 1% auto 2% auto;
}

#sociallinks img {
	display: none;
}

#menu div.menu li a, #menu div.menu-footer li a {
	opacity: 1;
}

#content .entry-title, #content h1.page-title {
	opacity: 1;
}

.format-link .entry-title a {
	opacity: 1;
}

.format-link .entry-title a {
	opacity: 1;
}